.main {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    flex: 1; 
  }
  
  .arrowContainer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  