@import "@/app/variables.scss";

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  .questions {
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $Accent-Color;
    margin-left: 10px;
    div {
      width: 100%;
      height: auto;
      background-color: $Neutral-Color;
    }
    section {
      padding: 20px;
      background-color: $Accent-Color;
    }
    .mid {
      border-top: 30px solid $Neutral-Color;
      border-bottom: 30px solid $Neutral-Color;
      border-radius: 10px 0 0 10px;
      section {
        border-radius: 20px;
      }
    }
    .top {
        section {
            border-radius: 20px 20px 20px 0;
        }
    }   
    .bot { 
        section {
            border-radius: 0 20px 20px 20px;
        }
    }
  }
}
