@import "@/app/variables.scss";

.container {
    .dummy {
        position: relative;
        z-index: 5;
        bottom: -320px;
        left: 335px;
        background: $Main-gradient;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.75rem;
        font-weight: bold;
    }
    .title {
        position: relative;
        z-index: 1231541;
        top: 350px;
        left: 0;
    }
    .img {
        position: relative;
        z-index: 1;
        width: 150%;
    }
    .button {
        position: relative;
        z-index: 3;
        top: -200px;
        left: 0;
        border: none;
        background-color: $Accent-Color;
        padding: 10px;
        color: $Text-Color;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.3s ease;
        font-size: 1.5rem;
    }
    .button:hover {
        transform: scale(1.1);
    }
}
