@import "@/app/variables.scss";

.grid {
    max-width: 100%;
    min-height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $Neutral-Color;
    .slide {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        border-radius: 5px;
        padding: 10px;
        background-color: white;
        .imageContainer {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        div {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            flex: 1;
            p {
                font-size: 1.5rem;
            }
            .icon {
                width: 1.5rem;
                cursor: pointer;
            }
        }
    }
}
.loading {
    position: relative;
    left: -35%;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}