@import "@/app/variables.scss";

.right {
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    button {
      width: 100%;
    }
    h3 {
      color: $Accent-Color;
      border-radius: 5px;
      width: 100%;
      padding: 5px;
      text-align: center;
    }
    .form {
      height: 50%;
      justify-content: space-around;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 20px;
      input {
        padding: 10px;
        width: 100%;
        font-size: 1.25rem;
        background-color: $Accent-Color;
        color: $Text-Color;
        border: none;
      }
      .duration {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .category {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        div {
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px;
          border: 1px solid;
          font-size: 1rem;
          div {
            border-radius: 500px;
            height: 5px;
            width: 5px;
            position: relative;
          }
        }
      }
    }
  }